body{
    margin:0;
    padding:0;
    font-family:"Times New Roman", Times, serif;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    background-color: #4a4a4f;
    text-align: center;
}

nav li{
    font-size: medium;
    line-height: 40px;
    height: 40px;
    display: inline-block; /*horizontal display menu*/
    margin-left: 2.5%; /*breathing space of each item on menu*/
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block; /*display anchor texts as block elements*/
}

nav a:hover{
    background-color: blue;
    color: #4a4a4f;
}

.card{
    display: inline-block;
    width: 15%; /*20% of screen width*/
    margin-left: 5%; /*white space between the cards*/
}

.card a{
    text-align: center;
}

img{
    width: 100%; /*100% of the image container, not screen.*/
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}